<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDT3uPGmkIbTpr2dMzk-x0GAVJB0Nb8F2U</string>
	<key>GCM_SENDER_ID</key>
	<string>504131612092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kjbn.departuretimes.departuretimes</string>
	<key>PROJECT_ID</key>
	<string>food-trucks-ca748</string>
	<key>STORAGE_BUCKET</key>
	<string>food-trucks-ca748.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504131612092:ios:afe6a1b038c64ec2990fb9</string>
</dict>
</plist>